<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewan Maclean</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
</head>    


<body>

    <ul id="nav" class="nav">
        <li class="nav-list-item">
          <a class="nav-link active" id="homeLink" href="#home-banner">Welcome
            <div class="accent"></div>
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" id="skillsLink" href="#skills">Skills
            <div class="accent"></div>
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" id="projectLink" href="#projects">Projects
            <div class="accent"></div>
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" id="contactLink" href="#contact">Contact
            <div class="accent"></div>
          </a>
        </li>
      </ul>

<main>
    <div id="home-banner" class="active">
      <div id="home-header">
        <h1 id="home-h1">Ewan MacLean</h1>
        <h2 id="home-h2">Web Developer</h2>
      </div>
    </div>

    <div id="skills">
      <div class="container skills-header">
        <h1>Skills</h1>
        <p></p>
        <div id="skillsTable">
          <div class="skill"> <img class="skill-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/130px-HTML5_logo_and_wordmark.svg.png" alt="">
          </div>
          <div class="skill">
            <img class="skill-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/120px-CSS3_logo_and_wordmark.svg.png" alt="">
          </div>
          <div class="skill">
            <img class="skill-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png" alt="">
          </div>
          <div class="skill">
            <img class="skill-img"src="https://bambooengineering.io/img/technology/react-small.png" alt="">
           </div>
          <div class="skill">
            <img class="skill-img"src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png" alt="">
          </div>
          <div class="skill">
            <img class="skill-img"src="https://www.seekpng.com/png/detail/383-3838904_mongodb-logo.png" alt="">
          </div>
          <div class="skill">
            <img class="skill-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="">
          </div>
           <div class="skill">
             <img class="skill-img"src="https://expressjs.com/images/express-facebook-share.png" alt="">
            </div>
          <div class="skill">
            <img class="skill-img"src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" alt="">
           </div>

        </div>
      </div>
    </div>  

    <div id="projects">

      <div class="project">
        <video width="320" height="240" controls autoplay>
          <source src="https://res.cloudinary.com/dhxs9jryg/video/upload/v1651182522/portfolio/joeyTV_demo_n2jpar.mp4" type="video/mp4">
        </video>
          <div class="project-text">
            <div>
              <h2>JoeyTV</h2>
              <p>JoeyTV is a platform for TV shows and movies that is geared to help parents 
                determine which shows are suitable for their children to watch. Includes CRUD 
                and search functionality</p>
                <p>
                  <i> HTML, CSS, Javascript, React, Nodejs, MongoDB</i>
                </p>
            </div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='https://github.com/Ewan-MacLean/JoeyTV-final';">Github Repo</button>
          </div>
        </div>
      <div class="project">
        <img class="project-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1651181705/portfolio/Screenshot_2022-04-28_183432_vqwrmi.png" alt="">
          <div class="project-text">
            <div> 
              <h2>Book Library</h2>
              <p>This is a library of books from a local API that is running on the json-server node module. 
                Uses react functional components for each book in the database as a card, 
                displaying information that is pulled from the db.json server.</p>
                <p>
                  <i> HTML, CSS, Javascript, React</i>
                </p>
            </div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='https://github.com/Ewan-MacLean/Book-library';">Github Repo</button>
          </div>
        </div>
      <div class="project">
        <img id="bus-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1651459111/portfolio/buses_xgwxqd.png" alt="">
          <div class="project-text">
            <div>
              <h2>Bus Tracker</h2>
              <p>
                Created a view of the City of Halifax using the Google Maps API, then populated the map with coordinate 
                data from Leaflet to get the live locations of buses in my city. 
                Each bus is indicated with an icon of a bus, and when clicked on reveals route number and direction.
              </p>
              <p>
                <i> HTML, CSS, Javascript</i>
              </p>
            </div>
              <button type="button" class="btn btn-primary" onclick="window.location.href='https://github.com/Ewan-MacLean/Bus-Tracker';">Github Repo</button>
          </div>
        </div>
        <div class="project">
          <img class="project-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1651459438/portfolio/Screenshot_2022-05-01_234341.PNG_eomhlw.jpg" alt="">
          
          <div class="project-text">
            <div>
              <h2>Hemp Fibre Wholesale</h2>
              <p>Website I created for my friends personal business. Includes online shopping feature.</p>
              <p>
                <i> HTML, CSS, Javascript</i>
              </p>
            </div>
            <div>
              <button type="button" class="btn btn-primary" onclick="window.location.href='https://github.com/Ewan-MacLean/hempfibrewholesale';">Github Repo</button>
              <button type="button" class="btn btn-warning" onclick="window.location.href='http://www.hempfibrewholesale.com/';">Live Version</button>
            </div>
          </div>
        </div>

      </div>

      <div id="contact">
        <h1>Contact</h1>
      </div>


  </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="/styling.js"></script>
  </body>
</html>